<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org./1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lista de pacientes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="modal-header text-center">
      <h3 class="modal-title w-100">Lista de pacientes em situação não emergencial</h3>
    </div>
  
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Sintomas</th>
                        <th scope="col">Liberação</th>
                      
                       
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="paciente : ${pacientes}">
                        <th class="col-1" scope="row" th:text="${paciente.getId()}">ID</th>
                        <td class="col-4" th:text="${paciente.getName()}">Nome do Professor</td>
                        <td class="col-2" th:text="${paciente.getAge()}">Idade</td>
                        <td class="col-2" th:text="${paciente.getSituation()}">Situação</td>
                        <td class="col-2" th:text="${paciente.getSymptoms()}">Sintomas</td>
                        <td scope="col"><button type="button" class="btn btn-outline-danger"><a th:href="@{http://localhost:9000/LEVES/leves/{pacienteId}/delete(pacienteId = ${paciente.id})}">Dar Alta</a></button></td>
                       
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
          <button class="btn btn-warning"><a href="http://localhost:9000/CADASTROPACIENTESWEBFLUX/cadastro_pacientes">Voltar</a></button>
      </div>
         
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
